{%extends "base.html"%}
{%block content%}

{% load static %}



  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="page-content">

            <a href="profile" class="logo">
                <button class="butn" type="button">
                    <strong>BACK</strong>
                    <div id="container-stars">
                      <div id="stars"></div>
                    </div>
                  
                    <div id="glow">
                      <div class="circle"></div>
                      <div class="circle"></div>
                    </div>
                  </button>
                </a>

                <br>
          
          <!-- ***** Detail Start ***** -->
          <div class="row" style="color:white;">
            <div class="col-lg-12">
              <div class="main-profile ">
                <div class="row">
                    

                    <form action="edit_student" method="get">
                        <div class="group">
                            <input name="name" id="name" type="text" class="input">
                            <span class=""></span>
                            <span class="bar"></span>
                            <label>name</label>
                        </div>
                        <button class="btn-src">search/show all</button>
                    </form>



                 
                  <div class="col-lg-4" style="float: left; width: 50%; padding-top: 10px;">
                    <ul>
                    {% if val %}

                    {% for prf in val %}
                    <li><div style="color: white;display: inline;">{{ forloop.counter }}. </div>Name<span>{{ prf.username }}</span></li>
                    <li>Register No <span>{{ prf.reg }}</span></li>
                    <li>Contact No <span>{{ prf.contact_no }}</span></li>
                    <li>Class <span>{{ prf.class_name }}</span></li>
                    <li>Programme <span>{{ prf.programme }}</span></li>
                    <li>College Name <span>{{ prf.college }}</span></li>
                    <li>Attendance percentage <span>{{ prf.attendance_percentage }}</span></li>
                    <li>Parent Name <span>{{ prf.parent_name }}</span></li>
                    <li>Parent Contact <span>{{ prf.parent_contact }}</span></li>
                   {% endfor %}

                    {% else %}

                      {% for prf in editable %}
                      

                        <li><div style="color: white;display: inline;">{{ forloop.counter }}. </div>Name<span>{{ prf.username }}</span></li>
                        <li>Register No <span>{{ prf.reg }}</span></li>
                        <li>Contact No <span>{{ prf.contact_no }}</span></li>
                        <li>Class <span>{{ prf.class_name }}</span></li>
                        <li>Programme <span>{{ prf.programme }}</span></li>
                        <li>College Name <span>{{ prf.college }}</span></li>
                        <li>Attendance percentage <span>{{ prf.attendance_percentage }}</span></li>
                        <li>Parent Name <span>{{ prf.parent_name }}</span></li>
                        <li>Parent Contact <span>{{ prf.parent_contact }}</span></li>
                       {% endfor %}
                    {% endif %}

                    </ul>
                  </div>
                  <div class="col-lg-4" style="float: right; width: 50%;padding-left: 5%;">
                    <p>Manually mark attendance for a student:</p>
                    <div style="text-align: center;">
                    <form method="get" action="mark_attendance" style="padding-top: 4%;">
                      {% csrf_token %}
                      
                          <div class="group">
                              <input name="m_name" required placeholder="reg no" id="m_name" type="text" class="input">
                              <span class=""></span>
                              <span class="bar"></span>
                          </div>
                      
                      <div style="margin: 20px;"> <!-- Added text-align: center; -->
                          <style>
                              input[type="date"]::-webkit-calendar-picker-indicator {
                                  filter: invert(1);
                              }
                          </style>
                          Date : <input type="date" required name="m_date" style="background-color: #1f2122; margin: 2%;margin-left: 3%; padding-left: 2%; border: none; color: white;margin: 0%;"><br>
                          <button type="submit" id="singlebutton" name="singlebutton" class="btn" style=" margin-top: 2% ;background-color: rgb(169, 51, 104);color:white">Save Attendance</button>
                      </div>
                    </div>
                  </form>
                  
                             
                  </div>
                </div>

              </div>
            </div>
          </div>
          <!-- ***** Details End ***** -->

          

        </div>
      </div>
    </div>
  </div>
  
{%endblock%}