{%extends "base.html"%}
{%block content%}

{% load static %}


  <!-- ***** Header Area Start ***** -->
  <header class="header-area header-sticky">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <nav class="main-nav">

                    <!-- ***** Logo Start ***** -->
                    <a href="index" class="logo">
                        <h2 style="color:rgb(169, 51, 104)">Mark-1</h2>
                    </a>
                    <!-- ***** Logo End ***** -->

                    <!-- ***** Menu Start ***** -->
                    <ul class="nav">
                        <li><a href="index">Home</a></li>
                        <li><a href="about">About</a></li>
                        <li><a href="contact">Contact us</a></li>
                        {% if user.is_authenticated %}
                        <li><a href="profile" class="active">Profile  <img src="" alt=""></a></li>
                        {% else %}
                        <li><a href="login_view" class="active">Log in</a></li>                        
                        {% endif %}
                    </ul>   
                    <a class='menu-trigger'>
                        <span>Menu</span>
                    </a>
                    <!-- ***** Menu End ***** -->
                </nav>
            </div>
        </div>
    </div>
  </header>
  <!-- ***** Header Area End ***** -->


  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="page-content">

          
          <!-- ***** Detail Start ***** -->
          <div class="row">
            <div class="col-lg-12">
              <div class="main-profile ">
                <div class="row">
                  <div class="col-lg-4">
                    {% if not user.is_superuser %}
                      <img src="{{ profile.pic.url }}" alt="" style="border-radius: 23px;">
                    {% else %}
                      <img src="/static/assets/images/admin_profile.jpg" alt="" style="border-radius: 30%;">
                    {% endif %}
                  </div>
                  <div class="col-lg-4 align-self-center">
                    <div class="main-info header-text">
                      <div class="col-lg-4">
                                         
                      </div>
                      <h4>{% if user.is_superuser %}
                          Hey admin!

                          {% elif post == "teacher" %}
                          teacher

                          {% else %}
                          student
                          {% endif %}
                      </h4>
                      <div class="main-border-button">

                        {% if user.is_authenticated %}
                          {% if post == "teacher" %}
                          <a href="take_attendance">Take attendance</a>
                          <a href="edit_student">View/edit student status</a>
                          {% elif post == "student" %}
                          <a href="view_deets">Download your attendance deets!!</a>
                          {% else %}
                          <ul>
                            <li>Login as a teacher to view personas!!!...</li>
                            <div class="main-border-button">
                              <a href="edit_teacher" style="background-color: rgb(215, 84, 143); color:white">view teachers</a>
                            </div>
                          </ul>
                          {% endif %}
                        {% endif %}
                        <br>
                        <br>
                        <a href="logout_view" style="background-color: rgb(215, 84, 143); color:white">Logout</a>

                      </div>
                    </div>
                  </div>

                      {% if post == "teacher" %}
                      <div class="col-lg-4 align-self-center">
                        <ul>
                        <li>Name<span>{{ profile.name }}</span></li>
                        <li>Date of joinee <span>{{ profile.date_of_join }}</span></li>
                        <li>Contact No <span>{{ profile.contact_no }}</span></li>
                        <li>Courses taught <span>{{ profile.courses_taught }}</span></li>
                        <li>Programme <span>{{ profile.programme }}</span></li>
                        <li>College Name <span>{{ profile.college }}</span></li>
                      </ul>

                      {% elif user.is_superuser %}

                        

                      {% else %}
                      <div class="col-lg-4 align-self-center">
                        <ul>
                        <li>Name<span>{{ profile.username }}</span></li>
                        <li>Register No <span>{{ profile.reg }}</span></li>
                        <li>Contact No <span>{{ profile.contact_no }}</span></li>
                        <li>Class <span>{{ profile.class_name }}</span></li>
                        <li>Programme <span>{{ profile.programme }}</span></li>
                        <li>College Name <span>{{ profile.college }}</span></li>
                        <li>Attendance percentage <span>{{ profile.attendance_percent }} %</span></li>
                        <li>Parent Name <span>{{ profile.parent_name }}</span></li>
                        <li>Parent Contact <span>{{ profile.parent_contact }}</span></li>
                        
                    </ul>
                  </div>
                       {% endif %}

                </div>

              </div>
            </div>
          </div>
          <!-- ***** Details End ***** -->

          

        </div>
      </div>
    </div>
  </div>
  
{%endblock%}