{%extends "base.html"%}
{%block content%}

{% load static %}


  <!-- ***** Header Area Start ***** -->
  <header class="header-area header-sticky">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <nav class="main-nav">

                    <!-- ***** Logo Start ***** -->
                    <a href="index" class="logo">
                        <h2 style="color:rgb(169, 51, 104)">Mark-1</h2>
                    </a>
                    <!-- ***** Logo End ***** -->

                    <!-- ***** Menu Start ***** -->
                    <ul class="nav">
                        <li><a href="index">Home</a></li>
                        <li><a href="about">About</a></li>
                        <li><a href="contact">Contact us</a></li>
                        {% if user.is_authenticated %}
                        <li><a href="profile" class="active">Profile <img src="{% static 'assets/images/' %}" alt=""></a></li>
                        {% else %}
                        <li><a href="login_view" class="active">Log in</a></li>                        
                        {% endif %}
                    </ul>   
                    <a class='menu-trigger'>
                        <span>Menu</span>
                    </a>
                    <!-- ***** Menu End ***** -->
                </nav>
            </div>
        </div>
    </div>
  </header>
  <!-- ***** Header Area End ***** -->


  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="page-content">

          
          <!-- ***** Detail Start ***** -->
          <div class="row">
            <div class="col-lg-12">
              <div class="main-profile ">
                <div class="row">
                  <div class="col-lg-4">
                    <img src="assets/images/profile.jpg" alt="" style="border-radius: 23px;">
                  </div>
                  <div class="col-lg-4 align-self-center">
                    <div class="main-info header-text">
                      <h4>{% if user.is_superuser %}
                          admin - {{ user.username }}
                          {% elif post == "teacher" %}
                          teacher{{ teacher.name }} - {{ user.username }}
                          {% else %}
                          student{{student.name}} - {{user.username}}
                          {% endif %}
                      </h4>
                      <div class="main-border-button">

                        {% if user.is_authenticated %}
                          {% if post == "teacher" %}
                          <a href="take_attendance">Take attendance</a>
                          <a href="">View student status</a>
                          {% else %}
                          <a href="">View your attendance deets!!</a>
                          {% endif %}
                        {% endif %}
                        <br>
                        <a href="logout_view" style="background-color: rgb(215, 84, 143); color:white">Logout</a>

                      </div>
                    </div>
                  </div>
                  <div class="col-lg-4 align-self-center">
                    <ul>
                      {% if post == "teacher" %}
                       <li>Name<span>3</span></li>
                       <li>Date of joinee <span>16</span></li>
                       <li>Contact No <span>None</span></li>
                       <li>Courses taught <span>29</span></li>
                       <li>Programme <span>None</span></li>
                       <li>College Name <span>29</span></li>

                       {% elif user.is_superuser %}
                       <li>Login as a teacher to view personas!!!...</li>

                       {% else %}

                       <li>Name<span>3</span></li>
                       <li>Register No <span>16</span></li>
                       <li>Contact No <span>None</span></li>
                       <li>Class <span>29</span></li>
                       <li>Programme <span>None</span></li>
                       <li>College Name <span>29</span></li>
                       <li>Attendance percentage <span>29</span></li>
                       <li>Parent Name <span>None</span></li>
                       <li>Parent Contact <span>29</span></li>
                       {% endif %}

                    </ul>
                  </div>
                </div>

              </div>
            </div>
          </div>
          <!-- ***** Details End ***** -->

          

        </div>
      </div>
    </div>
  </div>
  
{%endblock%}